# Dependencies
node_modules

# Build outputs
dist

# Environment files (handled by docker-compose)
.env
.env.*
!.env.example

# Test files
coverage

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
.dockerignore
